{
  "launch_mini_ui": false,
  "window_geometry": {
    "main": {
      "x": -18,
      "y": 8,
      "w": 1000,
      "h": 650
    },
    "last_mode": "main",
    "mini": {
      "x": 574,
      "y": 313,
      "w": 560,
      "h": 286
    }
  },
  "emulator_config_state": {
    "bluestacks": true,
    "ldplayer": false,
    "other": false,
    "mumu": true
  }
}